/* General Stylings */
body {

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
}

a {

  text-decoration: none;
  color: white;
}

.nav-bar,
.intro,
.footer {

  background-color: #1F2937;
  color:#E5E7EB;
}

.nav-bar,
.intro,
.random-info,
.quote,
.cta,
.footer {

  padding: 0px 100px;
}

/* Nav-bar stylings */
.nav-bar {

  display: flex;
  justify-content: space-between;
}

.nav-bar .nav-left-side {

  color: #F9FAF8;
  font-size: 24px;
}

.nav-bar .nav-right-side{

  font-size: 18px;
}

.nav-right-side ul{

  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-right-side a {
  
  color: #E5E7EB;
}

/* Intro Stylings */

.intro {

  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.intro-left-side {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-left-side .intro-heading {

  font-size: 48px; 
  font-weight: 1000;
  color: #F9FAF8;
}

.intro-left-side .intro-button {
  
  display: inline;
  border-radius: 5px;
  background-color: #3882F6;
  padding: 5px 25px;
}

.intro-right-side {

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-right-side .right-side-img {

  background-color: #E5E7EB;
  width: 200px;
  height: 100px;
}

/* Random Information Stylings */


/* Quote stylings */
.quote {

  background-color: #E5E7EB;
}

.quote .testimonial {

  color: #1F2937;
}

/* Call to Action stylings */
.cta-box {

  background-color: #3882F6;
}

